registry=https://pkgs.dev.azure.com/mailyoonghan0975/_packaging/mailyoonghan0975/npm/registry/ 
; begin auth token
//pkgs.dev.azure.com/mailyoonghan0975/_packaging/mailyoonghan0975/npm/registry/:username=mailyoonghan0975
//pkgs.dev.azure.com/mailyoonghan0975/_packaging/mailyoonghan0975/npm/registry/:_password=Q1AxeFFXMHpIUFdZZncwMzBYZnNmeTRaRjJTZGxKbjQwUWpGZnJMM3pieDRRa21zc1U2ZkpRUUo5OUJFQUNBQUFBQTlySGlXQUFBU0FaRE8zS2xE
//pkgs.dev.azure.com/mailyoonghan0975/_packaging/mailyoonghan0975/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/mailyoonghan0975/_packaging/mailyoonghan0975/npm/:username=mailyoonghan0975
//pkgs.dev.azure.com/mailyoonghan0975/_packaging/mailyoonghan0975/npm/:_password=Q1AxeFFXMHpIUFdZZncwMzBYZnNmeTRaRjJTZGxKbjQwUWpGZnJMM3pieDRRa21zc1U2ZkpRUUo5OUJFQUNBQUFBQTlySGlXQUFBU0FaRE8zS2xE
//pkgs.dev.azure.com/mailyoonghan0975/_packaging/mailyoonghan0975/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
