:is(.desktop__nav, .mobile__nav) ul {
  list-style: none;
  padding: 0;
}

:is(.desktop__nav, .mobile__nav) ul > li {
  padding-top: 0.5rem;
}

.desktop__nav {
  display: none;
}

.mobile__nav {
  display: block;
}

@media (min-width: 960px) {
  .desktop__nav {
    display: block;
  }

  .mobile__nav {
    display: none;
  }
}

@keyframes grow {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}

/*Start Desktop*/
.desktop__nav {
  background: var(--menu-color);
  color: var(--menu-color-text);
  border-bottom-width: 1px;
  box-shadow: 2px 2px 2px -4px black;
  padding: 0 2rem;
}

.desktop__nav .home-logo {
  display: inline;
  padding: 10px;
}

.desktop__nav .menu {
  width: 100%;
  height: 100%;
  position: static;
  background: var(--menu-color);
}

.desktop__nav .subnav-content {
  height: 0;
  opacity: 0;
  width: 0;
  z-index: 1;
  overflow: hidden;
  font: 1em sans-serif;
  box-shadow: 8px 8px 8px -8px black;
}

.desktop__nav .subnav:hover .subnav-content {
  display: block;
  opacity: 1;
  width: auto;
  height: auto;
  border-radius: 0 0 4px 4px;
  animation: grow 0.2s ease-out;
  position: absolute;
  padding: 10px;
  background: var(--menu-color);
  border-width: 0 1px 1px 1px;
}

.desktop__nav .menu > ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.desktop__nav .menu > ul li:last-child {
  margin-left: auto;
}

/* Start mobile */
.mobile__nav {
  background: var(--menu-color);
  color: var(--menu-color-text);
  border-bottom-width: 1px;
  box-shadow: 2px 2px 2px -4px black;
}

.mobile__nav .menu {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  background: var(--menu-color);
}

.mobile__nav .menu ul {
  margin-left: 2rem;
}

.mobile__nav .menu > ul {
  overflow-y: auto;
  height: 90%;
}

.mobile__nav .mobile-menu {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  gap: 1.5rem;
}

.mobile__nav .hamb {
  cursor: pointer;
  padding: 40px 0;
}

.mobile__nav .hamb-line {
  background: var(--menu-color-text);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.mobile__nav .hamb-line::before,
.mobile__nav .hamb-line::after {
  background: var(--menu-color-text);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.mobile__nav .hamb-line::before {
  top: 8px;
}

.mobile__nav .hamb-line::after {
  top: -8px;
}

.mobile__nav .hamb-hidden {
  display: none;
}

.mobile__nav .top-menu,
.mobile__nav .side-menu {
  height: 0;
  width: 0;
  border: 0;
  display: contents;
} /* Hide checkbox */

/* Toggle menu icon */
.mobile__nav:has(.side-menu:checked) .menu {
  max-height: calc(100% - 80px);
}
.mobile-menu:has(.side-menu:checked) .hamb .hamb-line {
  background: transparent;
}
.mobile-menu:has(.side-menu:checked) .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.mobile-menu:has(.side-menu:checked) .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Toggle top menu */
.mobile__nav .subnav:has(.top-menu:checked) .subnav-content {
  opacity: 1;
  max-height: 320px;
  padding: 0 0 10px 0;
  border-radius: 0 0 4px 4px;
}

.mobile__nav .subnav-content {
  opacity: 0;
  z-index: 1;
  max-height: 0;
  overflow-y: hidden;
  transition-property: max-height, opacity;
  transition-duration: 0.5s, 0.2s;
  transition-timing-function: ease-out;
}

.mobile__nav label {
  cursor: pointer;
}

.mobile__nav label.top__menu::before {
  content: "+";
  display: inline-block;
  padding-right: 0.5rem;
}

.mobile__nav .subnav:has(.top-menu:checked) label[role="menuitem"]::before {
  content: "-";
}

header:has(.side-menu:checked) {
  position: sticky;
}
