:is(.desktop__nav, .mobile__nav) ul {
  list-style: none;
  padding: 0;
}

.top_menu_container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.expand,
.expand_dummy {
  background-color: transparent;
  padding: 5px;
  border: none;
  width: 18px;
}

.expand:focus::after {
  content: "";
  border: solid var(--menu-color-text);
  border-width: 0 2px 2px 0;
  display: block;
  padding: 3px;
  transform: rotate(45deg);
}

.desktop__nav {
  display: none;
}

.mobile__nav {
  display: block;
}

@media (min-width: 960px) {
  .desktop__nav {
    display: block;
  }

  .mobile__nav {
    display: none;
  }
}

@keyframes grow {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}

/*Start Desktop*/
.desktop__nav {
  background: var(--menu-color);
  color: var(--menu-color-text);
  border-bottom-width: 1px;
  box-shadow: 2px 2px 2px -4px black;
  padding: 0 2rem;
}

.desktop__nav .home_logo {
  display: inline;
}

.desktop__nav {
  width: 100%;
  height: 100%;
  position: static;
  background: var(--menu-color);
}

.desktop__nav .subnav_content {
  opacity: 0;
  display: none;
  z-index: 1;
  overflow: hidden;
  font: 1em sans-serif;
  box-shadow: 8px 8px 8px -8px black;
}

.desktop__nav .subnav:hover .subnav_content,
.desktop__nav .subnav.open .subnav_content {
  display: block;
  opacity: 1;
  border-radius: 0 0 4px 4px;
  animation: grow 0.2s ease-out;
  position: absolute;
  padding: 10px;
  background: var(--menu-color);
  border-width: 0 1px 1px 1px;
}

.desktop__nav > ul {
  display: flex;
  gap: 10px;
  align-items: center;
}

.desktop__nav > ul li:last-child {
  margin-left: auto;
}

/* Start mobile */
.mobile__nav {
  background: var(--menu-color);
  color: var(--menu-color-text);
  border-bottom-width: 1px;
  box-shadow: 2px 2px 2px -4px black;
}

.mobile__nav :global(.hide) {
  display: none;
}

.mobile__nav :global(.show) {
  display: block;
}

.mobile__nav .menu {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  overflow-y: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  background: var(--menu-color);
}

.mobile__nav .menu ul {
  margin-left: 2rem;
}

.mobile__nav .menu > ul {
  overflow-y: auto;
  height: 90%;
}

.mobile__nav .mobile-menu {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  gap: 1.5rem;
}

.mobile__nav .hamb {
  cursor: pointer;
  padding: 40px 0;
  border: none; /* remove button style */
  background: transparent;
}

.mobile__nav .hamb_line {
  background: var(--menu-color-text);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.mobile__nav .hamb_line::before,
.mobile__nav .hamb_line::after {
  background: var(--menu-color-text);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  left: 0;
}
.mobile__nav .hamb_line::before {
  top: 8px;
}

.mobile__nav .hamb_line::after {
  top: -8px;
}

.mobile__nav .top__menu > input {
  opacity: 0;
  position: absolute;
} /* Hide checkbox */

/* Toggle menu icon */
.mobile__nav:has(.side__menu:checked) .menu {
  max-height: calc(100% - 80px);
  display: block;
}
.mobile-menu:has(.side__menu:checked) .hamb .hamb_line {
  background: transparent;
}
.mobile-menu:has(.side__menu:checked) .hamb .hamb_line::before {
  transform: rotate(-45deg);
  top: 0;
}
.mobile-menu:has(.side__menu:checked) .hamb .hamb_line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Toggle top menu */
.mobile__nav .subnav:has(.top__menu > input:checked) .subnav_content {
  opacity: 1;
  max-height: 320px;
  padding: 0 0 10px 0;
  border-radius: 0 0 4px 4px;
  display: block;
}

.mobile__nav .subnav_content {
  display: none;
  opacity: 0;
  z-index: 1;
  max-height: 0;
  overflow-y: hidden;
  transition-property: max-height, opacity;
  transition-duration: 0.5s, 0.2s;
  transition-timing-function: ease-out;
}

.mobile__nav label {
  cursor: pointer;
}

.mobile__nav .top__menu::before {
  content: "+";
  display: inline-block;
  padding-right: 0.5rem;
  font-size: 1.25rem;
}

.mobile__nav .top__menu:has(input:checked)::before {
  content: "–";
}

header:has(.side__menu:checked) {
  position: sticky;
}
