.minimenu.sticky {
  top: 0;
  position: sticky;
  z-index: 899;
}

.minimenu {
  overflow-x: auto;
  background-color: var(--minimenu-color);
  color: var(--minimenu-color-text);
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.minimenu::before,
.minimenu::after {
  content: "";
  margin: auto;
}

.minimenu hr{
  border: 0;
  border-right: 1px solid;
  border-color: var(--minimenu-color-text);
}

.minimenu > a > span {
  white-space: nowrap;
  color: var(--minimenu-color-text);
}

.minimenu .underline {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--minimenu-color-text);
}
