.minimenu.sticky {
  top: 0;
  position: sticky;
  z-index: 899;
}

.minimenu {
  overflow-x: auto;
  background-color: var(--minimenu-color);
  color: var(--minimenu-text-color);
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.minimenu div[role="separator"] {
  border-right: solid;
  border-color: var(--minimenu-text-color);
}

.minimenu > a {
  white-space: nowrap;
}

.minimenu .underline {
  text-decoration: underline;
}
